/* Estilos para a página caixa */
.container {
    font-family: 'Gluten', cursive;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    background: linear-gradient(to bottom, #ff0080, #eb8198); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .card-body {
    padding: 20px;
    overflow-x: auto; /* Adicionado para rolagem horizontal se necessário */
    box-sizing: border-box; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input,
  button {
    text-align: center;
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    background-color: #5731c2;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  table {
    width: calc(100% - 20px); /* Ajusta a largura da tabela para levar em conta o padding do card-body */
    border-collapse: collapse;
    margin-top: 20px; /* Espaçamento entre o formulário e a tabela */
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  color: #ff0080;
}

th {
  background-color: #ff66b2; /* Rosa */
  color: #fff;
}

tr:nth-child(even) {
  background-color: #d9a7e0; /* Roxo mais claro */
}

tr:nth-child(odd) {
  background-color: #a781d3; /* Roxo mais escuro */
}

tr:hover {
  background-color: #80bfff; /* Azul claro */
}